ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(204, 35, 35);
    
}

li.navbar {
    margin-top: -7%;
    margin-left:85%;
    margin-bottom: -1%;
    float: right;
}

li.contents{
    float: left;
    font-size: 200%;

}

img.navbar{
    padding-top: 5px;
    width: 100%;
    height: 10%;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
  }

img.logo{
    width: 50%;
    height: 25%;
}

div.logo{
    position: relative;
    left: 30%;   
}


div.food{
    width: 30%;
    height: auto;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 1%;
   
}

img{
    width: 100%;
    height: 250px;
}

h2{
    margin-top: 3%;
    margin-bottom: -2%;
    text-align: center;
    font-size: 210%;
    
}

div.im{
    display: flex;
    
}

p{
    font-size: 150%;
    text-align: center;
}


button{
    width: 35%;
    height: 10%;
    
    background-color:black;
    color: white;
    padding: 10px 20px ;
    font-size: 130%;    
    cursor: pointer;
    border-radius: 10px;
}

div.button{
    text-align: center;
    margin-top: -10%;
    margin-bottom: 5%;
}

button:hover{
    background-color: green;
}